*/*readytopaste.html
2025_07_17_Tour-de-France-3*
*.DS_Store
Rmd to HTML protocol.md
2025_07_22_Tour-de-France/2025_07_22_Tour-de-France.R
2025_07_10_Tour-de-France/2025_07_10_Tour-de-France.R
_future_posts/
*.Rhistory
